@font-face {
    font-family: "Molu_Bold";
    src: url("./assets/fonts/MainFont_Bold.ttf");
}

@font-face {
  font-family: "Molu";
  src: url("./assets/fonts/MainFont.ttf");
}

@font-face {
  font-family: "NotoSans_Bold";
  src: url("./assets/fonts/MainFont_Bold.ttf");
}

* {
  font-family: 'Molu_Bold', serif;
}

.font-molu {
  font-family: 'Molu', serif;
}

.font-molu-bold {
  font-family: 'Molu_Bold', serif;
}

.font-noto-bold {
  font-family: 'NotoSans_Bold', serif;
}

.vid {
  display: block;
  margin: 0 auto;
}
.window-text {
  text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(167, 167, 167);
  border-radius: 100px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;