@font-face {
    font-family: "Molu_Bold";
    src: url("./assets/fonts/MainFont_Bold.ttf");
}

@font-face {
  font-family: "Molu";
  src: url("./assets/fonts/MainFont.ttf");
}

@font-face {
  font-family: "NotoSans_Bold";
  src: url("./assets/fonts/MainFont_Bold.ttf");
}

* {
  font-family: 'Molu_Bold', serif;
}

.font-molu {
  font-family: 'Molu', serif;
}

.font-molu-bold {
  font-family: 'Molu_Bold', serif;
}

.font-noto-bold {
  font-family: 'NotoSans_Bold', serif;
}

.vid {
  display: block;
  margin: 0 auto;
}
.border-text {
  text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(167, 167, 167);
  border-radius: 100px;
}

@media ( max-width: 1000px ) {
  #lobby-bar {
    margin-top: 4px;
    padding-right: 30px;
    padding-top: 10px;
  }
  #menubar {
    width: 10rem;
  }
  #menu-btn {
    width: 1.5rem;
    font-size: 1.2rem;
  }
  #set-menu-btn {
    width: 1.1rem;
  }
  #sub-line {
    height: 15px;
    margin-left: 12px;
    margin-right: 12px;
  }
  #ping {
    width: 8px;
    height: 8px;
    margin-right: -38px;
    margin-top: -15px;
  }
  #item-menu {
    width: 7.85rem;
    visibility: hidden;
  }
  #items {
    margin-right: -73px;
  }
  #item-contain {
    width: 107px;
  }
  #ap-contain {
    width: 97px;
  }
  #item-count-ap {
    font-family: molu;
    font-size: 16px;
    padding-left: 25px;
    padding-bottom: 2px;
    position: fixed;
  }
  #item-count-coin {
    font-family: molu;
    font-size: 16px;
    padding-left: 30px;
    padding-bottom: 2px;
    position: fixed;
  }
  #item-count-blue {
    font-family: molu;
    font-size: 16px;
    padding-left: 25px;
    padding-bottom: 4px;
    position: fixed;
  }
  #m-item-menu {
    visibility: visible;
    width: 7.188rem;
  }
  #m-blue {
    visibility: visible;
    width: 6.5rem;
  }
  #m-ap {
    visibility: visible;
    width: 6.5rem;
  }
  #plus1 {
    margin-left: 33px;
    width: 15px;
    height: 15px;
  }
  #plus2 {
    margin-left: 195px;
    width: 15px;
    height: 15px;
  }
  #profiles {
    margin-left: 90px;
  }
  #profile-contain {
    width: 300px;
    margin-top: 18px;
    margin-left: -50px;
  }
  #profilemenu {
    width: 230px;
  }
  #name {
    font-size: 18px;
  }
  #lv-contain {
    margin-right: 15px;
  }
  #lv-text {
    font-size: 18px;
    margin-bottom: -5px;
  }
  #lv {
    font-size: 30px;
  }
  #exp-text {
    font-size: 12px;
  }
  #exp {
    height: 3px;
    width: 150px;
  }
  #exp-bar {
    visibility: hidden;
  }
  #m-exp-bar {
    visibility: visible;
  }
  #use-m {
    width: 160px;
    display: flex;
    margin-top: -24px;
  }
  #notice {
    width: 38px;
    height: 38px;
    margin-right: 16px;
  }
  #momotalk {
    width: 35px;
  }
  #mission {
    width: 38px;
    height: 38px;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 20px;
  }
  #blue {
    width: 42px;
    height: 48px;
  }
  #use-icons {
    margin-bottom: -45px;
  }
  #t-notice {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 20px;
  }
  #t-momotalk {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 15px;
    margin-top: 20px;
    margin-left: -40px;
  }
  #t-mission {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 15px;
    margin-top: -52px;
    margin-left: 40px;
  }
  #t-blue {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 15px;
    margin-top: -51px;
    margin-left: -20px;
  }
  #t-cafe {
    font-size: 14px;
    margin-right: 45px;
    margin-left: 1px;
  }
  #t-sche {
    font-size: 14px;
    margin-right: 42px;
  }
  #t-student {
    font-size: 14px;
    margin-right: 55px;
  }
  #t-set {
    font-size: 14px;
    margin-right: 50px;
  }
  #t-circle {
    font-size: 14px;
    margin-right: 50px;
  }
  #t-build {
    font-size: 14px;
    margin-right: 51px;
  }
  #t-store {
    font-size: 14px;
    margin-right: 53px;
  }
  #t-gacha {
    font-size: 14px;
    margin-right: 50px;
  }
  #task-btns {
    margin-bottom: 4%;
  }
  #cafe {
    width: 40px;
    margin-right: 40px;
    margin-bottom: -3px;
  }
  #sche {
    width: 29px;
    margin-right: 40px;
  }
  #student {
    width: 32px;
    margin-right: 45px;
  }
  #set {
    width: 35px;
    margin-right: 40px;
  }
  #circle {
    width: 35px;
    margin-right: 40px;
  }
  #build {
    width: 32px;
    margin-right: 40px;
  }
  #store {
    width: 40px;
    margin-right: 40px;
  }
  #gacha {
    width: 35px;
    margin-bottom: -8px;
    margin-right: 40px;
  }
  #t-text {
    /*visibility: hidden;*/
  }
  #time {
    visibility: hidden;
  }
  #full-top {
    margin-top: 40px;
    padding-right: 2px;
  }
  #task {
    width: 140px;
    margin-bottom: -55px;
  }
  #fullscreen {
    font-size: 12px;
    height: 25px;
  }
  #memorial-window {
    width: 480px;
    height: 320px;
    border-radius: 8px;
  }
  #xbtn {
    margin-top: -286px;
    width: 20px;
    margin-left: 452px;
  }
  #xmark {
    font-size: 30px;
  }
  #win-title {
    width: 500px;
    padding-top: -1px;
    margin-top: -310px;
  }
  #win-text {
    width: 75px;
    height: 35px;
    font-size: 20px;
    border-bottom: solid 3px #ffe03d;
  }
  #help-btn {
    width: 20px;
    height: 20px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #sel-under-line {
    width: 480px;
    margin-left: 10px;
  }
  #memorial-card {
    width: 90px;
    height: 120px;
    margin: 2px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  }
  #memorial-img {
    transform: skewX(-5deg);
    width: 70px;
    height: 70px;
    border-radius: 5px;
    border: 1px solid #920008;
    border-bottom: solid 8px #920008;
    object-fit: cover;
    margin-bottom: 10px;
  }
  #memorial-count {
    width: 80px;
  }
  #cards {
    width: 480px;
    height: 200px;
    overflow: hidden;
    overflow-y: visible;
    padding-top: 12px;
    background: #d3d4d1;
  }
  #memorial-btn {
    margin: 1px;
  }
  #yes-contain {
    width: 480px;
    margin-bottom: -240px;
  }
  #yes-btn {
    width: 140px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;